.text-box{
    width: 100%;
}

@media (width > 900px){
    .text-box{
        width: 50%;
    }
}

.btn-purple {
    background-color:  #974FD0 !important;
;
    color: white; /* Adjust text color as needed */
  }

  .purple{
    color: #974FD0;
  }
  
  /* .btn-purple:hover {
    background-color: #974FD0;
  } */
  